{{ header }} 

                {{ content_full }}
            
{% include 'crocus/template/new_elements/wrapper_top.twig' %}

<div style="padding-bottom: 10px">{{ description }}</div>

{% include 'crocus/template/new_elements/wrapper_bottom.twig' %}
{{ footer }}